<!-- Footer -->
<footer class="page-footer font-small blue bg-white fixed-bottom">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://github.com/aashutoshrathi/HackerRank-Test-Case-Generator"> HackerRank-Test-Case-Generator</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->